@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');

@font-face {
    font-family: 'Idroid';
    src: url(images/pacote-projeto-d010/fontes/idroid.otf) format('opentype');
}

@font-face {
    font-family: 'MonospaceType';
    src: url(images/pacote-projeto-d010/fontes/MonospaceTypewriter.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body  {
    background-color: #84E1AD;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    text-align: justify;
}
    

body header {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #37C576, #1A5C38);
    margin-bottom: 0;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 2px 1px rgba(44, 43, 43, 0.264);
    height: 230px;
}

header h2 {
    margin-bottom: 30px;
}

body main {
    
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    margin-top: 0px;
    background-color: white;
    height: 100%;
    padding: 20px;
    overflow: hidden;
    box-shadow: 0px 5px 11px 5px rgba(44, 43, 43, 0.2);
    border-radius: 0 0 10px 10px;
}

body footer {
    width: 100%;
    background-color: #1A5C38;
    text-align: center;
    font-style: italic;
    color: rgba(255, 254, 254, 0.601);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-top: 20px;
    padding: 10px 0;
}

footer span {
    font-weight: bold;
    color: white;
}

main img{
    width: 100%;
    object-fit: cover;
}

.top-main {
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.511);
    color: white;
    height: 160px;
    gap: 20px;
}

.top-main h1 {
    padding-top: 50px;
    padding-bottom: 10px;
    font-family: 'MonospaceType', monospace;
    font-size: 30px;
}

.top-main h2 {
    font-weight: normal;
    color: rgba(211, 211, 211, 0.832);
    width: 100%;
    max-width: 400px;
    padding: 0 10px;
    height: 30px;
    padding-bottom: 30px;
}
nav {
    align-self: start;
    margin: 20px 5px;
    
    
}

nav ul {
    list-style: none;
    
    display: flex;
    margin: 20px;
    gap: 20px;
    margin-bottom: 30px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main p {
    text-align: justify;
    width: 100%;
    text-indent:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.bugdroid {
    display: block;
    margin: 20px auto;
    max-width: 50%;
    height: auto
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;;           
    display: block;
    border: none;
}

.video-wrapper {
    margin: 0 -20px;
    background-color: #1A5C38;
    padding: 10px;
    
}

.card-wrapper {
    background-color: #C5EBD6;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card-wrapper p {
    margin: 10px 0;
    line-height: 1.6;
}

.card-wrapper ul {
    list-style: none;
    padding: 20px;
    margin: 0;
    columns: 2;
}

.card-wrapper ul li {
    width: 79%;
    min-width: 70%;
    margin: 5px 2px;
    text-align: justify;
    column-gap: 20px;
}


.card-wrapper h3 {
    background-color: #2FA866;
    color: #fff;
    margin: -20px -20px 20px -20px;
    padding: 10px 20px;
    border-radius: 10px 10px 0 0;
    font-weight: bold;
    font-size: 25px;
}

.card-wrapper ul li::before {
    content: "✔️";
}

main h1,
main h2 {
    font-family: 'Idroid', sans-serif;
    color: #346E4E
}

main h1 {
    font-size: clamp(1.5rem, 2.5vw, 3rem);
    line-height: 1.2;
    margin-bottom: 1rem;
    text-align: left;
}

main h2 {
    background-color: #84e1ac8b;
    display: inline;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

main a {
    color: #3c654f;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 600px) {
    .card-wrapper ul {
        columns: 1;
    }
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: row;
        gap: 5px;
    }

    .top-main h1, .top-main h2 {
        font-size: 1.2rem;
    }

    .bugdroid {
        max-width: 80%;
    }
}
